<div class="row">
    <?php foreach($stories as $story) { ?>
        <div class="col-xs-6 col-md-3 story">
            <a class="" href="/stories/view/<?php echo $story['Story']['id']; ?>">
                <img class="img-thumbnail" src="/img/stories/<?php echo $story['Story']['id']; ?>/<?php echo sha1(Configure::read('Security.salt') . $story['Story']['id']); ?>_p.jpg"/>
               
            </a>
        </div>
    <?php } ?>
</div>