@import "config";

html, body {
}

.modal-content {
	background-color: lighten(@primary-color, 10)
}

.navbar-inverse {
	background: lighten(@primary-color, 5);
}

.form-control {
	background-color: lighten(@primary-color, 10);
	border-color: lighten(@primary-color, 10);
	color: #ffffff;
}

legend, h3 {
	color: #ffffff;
}

body {
	color: #999999;
	background-color: @primary-color;
	padding-top: 75px;
}

.img-thumbnail {
	background-color: lighten(@primary-color, 10);
	border-color: lighten(@primary-color, 10);
}

.btn-success {
	background: @accent-color;
	border-color: @accent-color;
}

h1 {
	margin-bottom: 40px;
	text-align: center;
	color: @accent-color;
}

.story {
	a {

	}
	span {
		display: block
	}
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	vertical-align: middle;
}
