.modal-content {
  background-color: #222935;
}
.navbar-inverse {
  background: #181d26;
}
.form-control {
  background-color: #222935;
  border-color: #222935;
  color: #ffffff;
}
legend,
h3 {
  color: #ffffff;
}
body {
  color: #999999;
  background-color: #0e1116;
  padding-top: 75px;
}
.img-thumbnail {
  background-color: #222935;
  border-color: #222935;
}
.btn-success {
  background: #3f8251;
  border-color: #3f8251;
}
h1 {
  margin-bottom: 40px;
  text-align: center;
  color: #3f8251;
}
.story span {
  display: block;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}
