<h1><?php echo $story['Story']['name'];?></h1>
<?php foreach($story['Scene'] as $scene) { ?>
    <div class="col-xs-6 col-md-3 story">
        <a class="" href="/scenes/view/<?php echo $scene['id']; ?>">
            <img class="img-thumbnail" src="/img/clips/<?php echo $scene['Clip'][0]['id']; ?>/<?php echo sha1(Configure::read('Security.salt') . $scene['Clip'][0]['id']); ?>_p.jpg"/>

        </a>
    </div>
<?php } ?>
